
.changes-button {
    cursor: pointer;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
}

.select-edit-changes {
    background-color: #c9e0ed;
    border-radius: 7px;
}

.changes-item {
    display: table-row;
    width: 100%;
}

.changes-form-container {

    padding: 10px;
}

.changes-info, .changes-crud-block {
    /*overflow: auto;*/
    margin: 10px;
    display: block;
    float: left;
    padding: 10px;
}

.changes-crud-block {
    float: right;
}

div#list-changes-block {
    display: block;
    overflow: auto;
}