body {
  min-height: 800px !important;   
}
article {
  min-height: 400px;
}
.paperhelper h1{
  font-size: 40px;
}
.paperhelper h2{
  font-size: 40px;
}
.paperhelper h3{
  font-size: 40px;
}


/* Альтернативный шрифт для кнопок и форм */
.alternative {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em !important;
}
.alternative-select {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 21px;
}


.center {
  text-align: center;
  margin: 0 auto;
}

#header {
  display: block;
  padding-top: 2em;
}

#header address {
    width: 250px;
}
.logo {
  background: url(../img/logo.png) no-repeat scroll 50% 0%;
  width: 273px;
  height: 105px;
}
.lock{
  background: url(../img/lock.png) no-repeat scroll 50% 0%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  align:center;
} 
.contact {
  background: url(../img/recall.png);
  background-repeat: no-repeat;
  width: 53px;
  height: 52px;
  margin-top: 5px;
}
.contact-footer {
  background: url(../img/recall.png);
  background-repeat: no-repeat;
  width: 50%;
  float:left;
}


#menu {
    margin-top: 20px;
}

/* Кнопка заказа */
.button4 {
position: relative;
display: inline-block;
font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
font-size: 20px;
font-weight: 700;
color: rgb(245,245,245);
text-shadow: 0 -1px rgba(0,0,0,.1);
text-decoration: none;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
padding: .3em 1em;
outline: none;
margin-top: 4px;
float: right;
border: none;
-webkit-transform: skewX(-10deg);
-moz-transform: skewX(-10deg);
 -ms-transform: skewX(-10deg);
  -o-transform: skewX(-10deg);
     transform: skewX(-10deg);
-webkit-border-radius: 5px;
        border-radius: 5px;
background: #BB2939 -webkit-gradient(linear, left top, left bottom, from(#BB0000), to(#BB0000));
background: #BB2939 -webkit-linear-gradient(#BB0000, #BB0000);
background: #BB2939 -moz-linear-gradient(#BB0000, #BB0000);
background: #BB2939 -o-linear-gradient(#BB0000, #BB0000);
background: #BB2939 linear-gradient(#BB0000, #BB0000);
-webkit-box-shadow: inset #BB294F 0 -1px 1px, inset 0 1px 1px #BB2926, #BB2962 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
        box-shadow: inset #BB294F 0 -1px 1px, inset 0 1px 1px #BB2926, #BB2962 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
-webkit-animation: pulsate 2.5s linear infinite;
-o-animation: pulsate 2.5s linear infinite;
   animation: pulsate 2.5s linear infinite;
}
.button4:visited, .button4:focus {
	text-decoration: none;
}
.button4:hover {
  -webkit-animation-play-state: paused;
  -o-animation-play-state: paused;
     animation-play-state: paused;
  cursor: pointer;
  color: #CECECE;
}
.button4:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
          box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
.mobileOrder {
	display: none;
	margin: 10px auto 10px;
	float: right !important;
	width: 145px;
    height: 30px;
    line-height: 14px;
}

@media only screen and (max-width:992px) { 
    .notmobileOrder {
        display: none!important;
    }
    
    .nav > li > a {
        position: relative!important;
        display: block!important;
        padding: 10px 12px!important;
        line-height: 30px!important;
    }
}


@media only screen and (max-width:992px) { 
.mobileOrder { display: block;
                float: none !important;
                margin-bottom: 20px;
}
}


@media only screen and (max-width:992px) { 
    .lock {
        margin-right: 18px!important;
    }
}

/* Конец блока кнопки заказа */



.atention {
  font-size: 1.7em; 
  color: #E11616;
  line-height: 30px;
}


.privilege h4{
  font-size: 30px;
}
.privilege h4 span{
  color:#F00;
}
.privilege p{
  font-size: 17px;
}


.author h5{
  font-size: 22px;
}
.author span{
  font-style: italic;
  font-size: 16px;
}
.author p{
  font-size: 18px;
}
.author img{
  margin-top: 10px;
}

.navbar .nav>li>a {
	font-size: 15px;
	font-weight: 700;
	color: #456a8c !important;
}
.comment {
  height: 160px;
  font-style: italic;
}
.comment-frame {
  background: url(../img/arrow.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 31px;  
}
.commentator-01 {
  background: url(../img/comm1.png);
  background-repeat: no-repeat;
  width: 72px;
  height: 77px; 
  margin-left: 40%;
}
.commentator-02 {
  background: url(../img/comm2.png);
  background-repeat: no-repeat;
  width: 72px;
  height: 77px;  
  margin-left: 40%;
}
.commentator-03 {
  background: url(../img/comm3.png);
  background-repeat: no-repeat;
  width: 72px;
  height: 77px; 
  margin-left: 40%;
}
.comment-info {
  color:#F00;
  text-align: center;
  font-style: italic;
}
.comment-info span{
  font-style: italic;
  text-align: center;
  color: #000000;
}

.spec-list li{
  list-style-image: url("../img/bullet-list.png");
  margin-left: 25%;
  margin-right: 20%;
  margin-bottom: 20px;
  line-height:16px;
}
.spec-list-2 li{
  list-style-image: url("../img/bullet-list.png");
  margin-left: 18%;
  margin-right: 16%;
  margin-bottom: 20px;
  line-height:16px;
}
.spec-list-faq li{
  list-style-image: url("../img/bullet-list.png");
  margin-left: 2%;
  margin-right: 16%;
  margin-bottom: 20px;
  line-height:16px;
}
.spec-list-faq li span{
  font-size: 20px;
}

.copyright {
  float:none;
  text-align:center;
}
.copyright{
	font: normal normal 12px serif;
	color: #303231;
	width: 20%;
	float: left;
}
.copyright span{
	font: normal normal 24px serif;
}

#footer {
  padding-bottom: 30px;
}




/* Block for slider */
.knopka {
    background: #C01313;
    -webkit-border-radius: 35px;
            border-radius: 35px;
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 18px;
    opacity: 1 !important;
   
}
.sled {
  margin: 15% 0 0 0;
}
.pred {
  margin: 235px 0 0 30px;
}
.knopka:hover {
    color: #C01313 !important;
    background: #fff !important;
}
.knopka:active {
    color: #000000;
}
.knopka a{
    color: #000000 !important;
}


/* classes for comments page */
.comment-page, .add-comment {
background: rgba(227, 227, 227, 0.5);
margin-top: 20px;
-webkit-border-radius: 5px;
        border-radius: 5px;
border: 3px solid #c8c8c8;
margin-bottom: 15px;
padding: 10px;
margin-right: 15%;
width: 100%;
}
.comment-page .name {
color: #5f5f5f;
width: 150px;
padding-left: 10px;
}
.comment-page .name span {
color: #8f3634;
}
.rate {
background: url(../img/star-empty.png);
width: 115px;
height: 23px;
max-width: 115px;
margin-left: 10px;
}
.rate div {
background: url(../img/full-star.png);
width: 0;
height: 100%;
}
.comment-page .post {
background: #fff;
border: 1px solid #c8c8c8;
padding: 10px;
width: 65%;
-webkit-border-radius: 5px;
        border-radius: 5px;
margin-left: 150px;
margin-top: -40px;
margin-bottom: 5px;
}


/* Bullets for terms */
.buy {
padding: 0 20px;
cursor: default;
}
.buy > p{
	font-size: 12px;
}
element.style {
}
.p-about .buy ol li p {
font-size: 16px;
}
.buy ol li p {
color: #333333;
margin: 0;
font-size: 16px;
display: inline;
}
.buy ol {
	margin: 15px 35px 15px 0;
	list-style-type: none;
	counter-reset: item;
	list-style-position: inside;
color: white;
padding: 0;
}
.buy ol > li:before {
    content: counter(item, decimal) "";
    counter-increment: item;
}
.buy ol li {
color: #fff;
font-size: 16px;
background-image: url('../img/bullet.png');
background-position: top left;
background-repeat: no-repeat;
padding-left: 7px;
line-height: 24px;
margin-bottom: 10px;
position: relative;
}
.buy ol li p {
	padding-left: 10px;
	display: inline-block;
}

article p {
    display: block;
    margin: 0px 15px 10px;
    text-align: justify;
}

article h2.center {
    margin-bottom: 25px!important;
    margin-left: 15px!important;
    margin-right: 15px!important;
}

div.comment p {
    display: block!important;
    margin-left: 5px!important;
    margin-right: 5px!important;
}

div.contact, address {
    padding-top: 0px!important;
    margin-top: 0px!important;
}

div.comment-info span {
    display: block;
    margin-bottom: 18px!important;
}

div.calc {
    width: 40%;
    background-color: #eee;
    display: block;
    margin: 25px auto;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 20px 15px 30px;
}

div.calc h2 {
    text-align: center;
    margin: 5px auto 15px;
}

div.calc hr {
    color: #555; /*для IE */
    background-color:#aaa2a2; /*для Firefox, Opera, Safari*/
    border:0px none;
    height:1px; /* высота 1px IE, Firefox, Opera, Safari */
    clear:both; /* для очистки, если тег идет после float елемента */
}

div.calc > p {
    text-align: center;
    margin-bottom: 20px;
}

div.calc div.item {
    display: block;
    margin: 20px 15px 10px;
}

div.calc div.item p {
    display: block;
}

div.item > button {
    display: inline-block;
    padding: 8px 12px;
    margin: 3px 5px;
    text-align: center;
    color: #fff;
    background-color: #387eba;
    box-shadow: none;
    border: 0px;
    transition: 0.2s background-color ease-out;
    border-radius: 3px;
}

div.item > button:hover {
    background-color: #286090;
}

div.item > button:focus {
    background-color: #286090;
}

div.item select {
    display: block;
    margin: 18px 12px;
}

div.calc > button {
    width: 230px;
    display: block;
    padding: 10px 15px;
    margin: 15px auto 0px;
    text-align: center;
    color: #fff;
    background-color: #387eba;
    box-shadow: none;
    border: 0px;
    transition: 0.2s background-color ease-out;
    border-radius: 3px;
}

div.calc > button:hover {
    background-color: #286090;
}

div.calc > p.submit-cost {
    display: block;
    margin: 70px auto 0px;
    padding: 5px 7px;
}

p.submit-cost > span {
    font-weight: bold;
} 


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    img.fastorder {
        width: 100%!important;
        display: block!important;
    }
    
    div.comment {
        height: 180px!important;
    }
    
    div#footer button.alternative {
        padding: 10px 6px!important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .author img {
        display: block!important;
        margin: 10px auto!important;
    }
    
    .author h5 {
        text-align: center!important;
    }
    
    .author span {
        display: block!important;
        text-align: center!important;
        margin-bottom: 5px!important;
    }
    
    .author p {
        margin: 0px 15px 10px;!important
        text-align: center!important;
    }
    
    div.privilege > div.center {
        margin-bottom: 20px!important;
    }
    
    div.privilege > div.center:last-child {
        margin-bottom: 10px!important;
    }
    
    .show-price-button {
        margin-left: 15px!important;
        margin-right: 15px!important;
        width: -webkit-calc(33% - 30px)!important;
        width: -moz-calc(33% - 30px)!important;
        width: calc(33% - 30px)!important;
    }

    div.comment {
        height: 160px!important;
    }
    
    div#header > div.col-md-3, div#header > div.col-md-5 {
        width: 50%!important;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    img.fastorder {
        display: none!important;
    }
    
    .show-price-button {
        margin-left: 15px!important;
        margin-right: 15px!important;
        width: -webkit-calc(100% - 30px)!important;
        width: -moz-calc(100% - 30px)!important;
        width: calc(100% - 30px)!important;
    }
    
    div.second-sale .show-price-button:first-child {
        margin-bottom: 12px!important;
    }
    
    div.comment {
        height: auto!important;
    }
    
    div.comment-frame {
        background: transparent url("../img/arrow.png") no-repeat scroll 50% 0%!important;
    }
    
    div.calc {
        width: 60%;
    }
    

}

@media only screen and (max-width : 640px) {
    div#header > div.col-md-3, div#header > div.col-md-5 {
        width: 100%!important;
    }
    
    div.calc {
        width: -webkit-calc(100% - 30px)!important;
        width: -moz-calc(100% - 30px)!important;
        width: calc(100% - 30px)!important;
        margin: 20px 15px;
    }
}
    

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    p.atention {
        line-height: 25px!important;
        font-size: 20px!important;
        padding-top: 12px!important;
    }
    
    article li {
        margin-left: 10%!important;
    }

    div.lock {
        padding-left: 17px!important;
    }
    
    div#header > div.col-md-3 > div.col-md-10 {
        width: 75%!important;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}



.input-group .form-control {
    width: -webkit-calc(100% - 170px)!important;
    width: -moz-calc(100% - 170px)!important;
    width: calc(100% - 170px)!important;
}

.pull-left {
    margin-right: 4px;
    margin-left: 4px;
}

.form-control {
    text-align: center;
}

.order-price-block {
	font-size: 25px;
	text-align: center;
}
.order-price-block span {
	display: block;
}
#tab-1 .order-price-block {
	display: none;
}
.appr_price {
	color: #d9534f;
}
.form-message {
	color: #d9534f;
	padding: 10px;
}
.panel-heading {
	padding-bottom: 0;
}
.qq-upload-drop-area {
    display: block!important;
    position: relative;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    margin-left: 0;
    width: 100%;
    height: auto;
    min-height: 100px;
    margin-top: 0;
    /*overflow: hidden;*/
    margin-bottom: 0;
}
.qq-upload-drop-area span {
    margin-top: 15px;
    margin-left: 0;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #EDEDED;
    position: relative;
}
div.qq-upload-button, div.qq-upload-button:hover {
    color: #fff;
    border: none;
}
div.qq-upload-button {
    background-color: #737C8D !important;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}
.qq-upload-button {
    width: 90%;
    background-color: white;
    color: #9F9F9F;
    margin: 15px auto;
    border: 1px solid #ddd;
}
.qq-upload-list {
    margin: 0;
    padding-top: 10px;
}