/* Skin "adaptive_dipstart" by Artem */

a:hover { color:#551a8b; }

ul li, ol li {
  padding:0 0 0.4em 0;
}*/

.btn, div.qq-upload-button {
	font-size: 15px;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.btn-green {
	background-color: #33E14D;
}

div.qq-upload-button, div.qq-upload-button:hover {
    color: #fff;
    border: none;
}

/*
.logo {
  float:left;
  display:inline-block;
  padding:0 0 1em;
  border-bottom:1px solid #000;
  font-size:18px;
  color:#ea0000;
}
*/
.menu_main {
  width:50%;
  float:right;
  text-align:right;
  margin:0.3em 0 0 0;
}
.menu_main a,
.menu_main a:visited {
}
.menu_main a:hover,
.menu_main a:hover:visited {
}
.menu_main li {
  display:inline-block;
  margin:0 0 0 7px;
}
.menu_main li.active,
.menu_main li.active a {
  color:#000;
  text-decoration:none;
  cursor:default;
}

.qq-upload-fail .qq-upload-failed-text {display:inline;}

.info {
  padding:0 0 1em 2%;
}

.hero {}
.hero h1 {
  font-size:26px;
  font-family:georgia, serif;
  font-style:italic;
  color:#EA0000;
}

.article {}

.copyright {
  float:left;
  font-family:georgia, serif;
  font-style:italic;
}

.menu_bottom {
  width:50%;
  float:right;
  text-align:right;
  margin:0;
  padding:0;
}
.menu_bottom a,
.menu_bottom a:visited {
}
.menu_bottom a:hover,
.menu_bottom a:hover:visited {
}
.menu_bottom li {
  display:inline-block;
  margin:0 0 0 7px;
}
.menu_bottom li.active,
.menu_bottom li.active a {
  color:#666;
  text-decoration:none;
  cursor:default;
}

h1, h2 {
  font-weight:normal;
  color:#000;
}
h1 {
  font-size:22px;
}

h5, .h5 {
 font-size: 13px;
}

h3, h4, h5, h6 {
  font-weight:bold;
  color:#000;
  text-transform: uppercase;
}
form#registration-form {
    width: 420px;
    margin: auto;
}
.form label {
  display:inline-block;
  padding:0 0 4px 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #727272; 
  font-weight:bold;
}
a.button,
.button {
  border:1px solid #d00303;
  text-align:center; 
  text-decoration:none;
  border-radius:4px;
  -webkit-box-shadow:#000 0px 0px 1px;
          box-shadow:#000 0px 0px 1px;
  background:#ea0000;
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ea0000), to(#d00303));
  background:-webkit-linear-gradient(#ea0000, #d00303);
  background:-webkit-gradient(linear, left top, left bottom, from(#ea0000), to(#d00303));
  background:linear-gradient(#ea0000, #d00303);
  color:#fff;
  padding:12px 20px;
  font-family:verdana, sans-serif;
  text-shadow:1px 1px 1px #d03302;
  display:inline-block;
}
a.button:hover,
.button:hover {
  color:#fff;  
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#d00303), to(#ea0000));
  background:-webkit-linear-gradient(#d00303, #ea0000);
  background:-webkit-gradient(linear, left top, left bottom, from(#d00303), to(#ea0000));
  background:linear-gradient(#d00303, #ea0000);
}
a.button:active,
.button:active {
  color:#8c1515;
  text-shadow:1px 1px 1px #ffaeae;
  -webkit-box-shadow:#a10000 0px -3px 3px inset;
          box-shadow:#a10000 0px -3px 3px inset;
}

.table {
  width:100%;
}
.table th {
  padding-top: 20px;
  font-weight:normal;
  text-align:left;
  font-size: 16px;
}
/*.table td {
  padding: 15px 10px;
}*/
.table tr {
	border-bottom-width:1px;
	border-bottom-style: solid;
}
.table tr:last-child {
  border:0;
}
.content-clearfix .grid-view table.items {
	border: 0;
}
.content-clearfix .grid-view table.items th, .content-clearfix .grid-view table.items td,
.content-clearfix table.detail-view th, .content-clearfix table.detail-view td {
	padding: 9px 10px;
    line-height: 1.42857143;
	border: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.content-clearfix .grid-view table.items th {
	font-size: 16px;
	text-align: left;
	padding-top: 20px;
	background-image: none;
}
.content-clearfix .grid-view table.items th a {
    font-weight: normal;
    text-decoration: none;
}
.content-clearfix .grid-view table.items td {
	font-size: 14px;
}
.warning {
  border:1px solid #ec252e;
  color:#fff;
  padding:8px 14px;
  background:#EA0000;
  border-radius:8px;
}
.success {

  color:#fff;


}
.success input {
  color: #333;
}
.message {
  border:1px solid #f1edcf;
  color:#000;
  background:#fbf8e3;
  padding:8px 14px;
  border-radius:8px;
}


@media only screen and (max-width:480px) { /* Smartphone custom styles */
}

@media only screen and (max-width:768px) { /* Tablet custom styles */
}


.form-control {
border-radius:0;
min-height: 40px;
}

.errorMessage {
color: red;
font-size: 12px;
}
.form-item .errorMessage {
	padding-left: 30px;
	padding-bottom: 10px;
}
.errorSummary {
font-size: 12px;
color: green;
}

.note {
font-style: italic;
color: #A7A7A7;
font-size: 13px;
}

.form-group {
margin: 25px 0;
}

h1, h2, h3, h4 {
text-transform: uppercase;
}

h3, .h3 {
    font-size: 23px;
}

.nav-tabs > li > a {
    line-height: 1.42857143;
	margin-right: 2px;
    border-weight: 1px;
	border-style: solid;
    border-radius: 15px 0px 0px 0px;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding: 10px 25px;
	font-weight: bold;
}

div.content-clearfix .nav-tabs > li > a {
	height: 55px;
}

.nav:last-child {
    padding-bottom: 0px;
}

/*.nav > li > a:hover, .nav > li > a:focus {
    border-color: #C6D9F1;
    border-bottom-color: #DDEAFA;
    background-color: #EBF4FF;
    color: #628DBE; 
}*/

/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
border: 1px solid #C6D9F1;
border-bottom:1px solid #fff;
color: #6797CC;
padding: 10px 25px;
}*/

label {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    color: #727272;
}

.user-chat-block {
padding:0;
border:none;
}

textarea {
    border: 1px solid #DDDDDD;
    margin-bottom: 20px;
}

.row {
margin:0;

}

.qq-upload-button {
margin: 20px;
}

.comment, .add-comment {
    border: none;
    margin-bottom: 25px;
    background: none;
    border-radius: 0;
    font-style: italic;
    font-size: 13px;
    margin-top: 0;
    padding-left: 5px;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.footer {
margin-top: 50px;
}

.col-md-offset-2 {
margin-left:0;
}

.content-clearfix {
    min-height: 550px;
    margin-bottom: 50px;
}

/*.twin-tab table.items {
	margin-top: 0px;
}
.twin-tab .grid-view table.items {
	margin-top: 0px;
}
.twin-tab #zakaz-grid table.items {
	margin-top: -0px;
}*/
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
padding: 15px 10px;
}

.col-xs-12 h1, .col-md-4 h3, .col-md-12 h3, .content-clearfix h1 {display:none;} 

#zakaz-grid {padding:0;}

.text-to-pay {  
    font-size: 20px;
    text-transform: uppercase;
    color: green;
}

.footer a {margin-right: 0;}

a, a:hover, a:focus, a:active, a:visited {text-decoration: none;}

.aboutZakaz textarea {
padding: 5px 10px;
}

.nav-tabs > li {
	height: 55px;
    /*width: 160px;*/ 
    text-align: center;
	margin-left: 5px;
	padding-bottom: 0;
}

#touch-menu {display:none;}

#Zakaz_pages {margin: 25px 10px 0 10px;}

.aboutZakaz .row {margin-bottom: 20px;}

#up_file label {
margin: 0;
margin-top: 25px;
padding: 0;
}

#up_file input {
color: gray;
font-size: 13px;
padding: 5px 0 0 0;
background: none;
height: 35px;
margin: 0;
}

#justFileUpload {padding: 15px;}

.qq-upload-drop-area {
    display: block!important;
    position: relative;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    margin-left: 0;
    width: 100%;
    height: auto;
    min-height: 100px;
    /*margin-top: 20px;*/
    overflow: hidden;
    margin-bottom: 10px;
}

.qq-upload-drop-area span {
    margin-top: 15px;
    margin-left: 0;
    font-size: 1.4em;
    /*font-weight: bold;*/
    text-transform: uppercase;
    color: #EDEDED;
    position: relative;
}

.qq-upload-button {
width: 90%;
background-color: white;
color: #9F9F9F;
margin: 15px auto;
border: 1px solid #ddd; 
}

.qq-upload-button:hover {color: #868686;	border: 1px solid #ccc;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;	}

.qq-upload-list {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.qq-upload-list li {
text-align: left;
padding-left: 15px;
padding-right: 15px;
list-style-type: none;
display: block;
overflow: hidden;
}

li.gray-file a.file {
color: silver;
font-weight: normal;
}

.qq-upload-button {width: 90%; background-color: green;margin: 15px auto;}
.info-block {
	margin-top: 10px;
} 
.panel-title a{
	width: 100%;
	display: block;
	text-align: center;
} 

#ProjectChanges_fileupload{
background: green;
border-radius: 0;
border: none;
}

#new-changes-link {
	text-align: center;
}
#new-changes-link a {
border: 1px solid #DDDDDD;
padding: 10px;
display: inline-block;
text-align: center;
color: white;
}

.qq-upload-list li {
text-align: left;
padding-left: 20px;
list-style-type: none;
}
a.file {color:green;font-weight: bold;}
li.gray-file a.file {color:silver;font-weight: normal;}

.list-changes-block {
border: 1px solid #DDDDDD;
padding: 10px;
margin-bottom: 15px;
background-color: #F8F8F8;
}


.btn {border-radius:0;}

.text_scan {
width: 100%;
text-align: center;
display: block;
text-transform: uppercase;
margin-top: 20px;
}

.price-for-work-avtor + #msgLabel {margin-top: 15px;}

.materials {
    border: 1px solid #ddd;

    /*margin: 15px;
    margin-bottom: -16px;*/

}

.materials h5 {
margin: 15px;
}

.materials-files {
list-style-type: none;
padding-left: 15px;
}

.btn, /*input[type="submit"],*/ input[type="file"] {opacity:0.8;border-radius:10;  border:none; padding:10px;}


.chek-image-link {margin-top: 10px;}

.chek-is-approving + .chek-image-link {float: right;}

.chek-is-approving {
margin-top: 10px;
font-size: 13px;
float: left;
}
/*input[name="yt0"] {
    height: 40px;
    width: 200px;
	background:#337AB7;
	color:white;
}*/
#UserLogin_rememberMe {
    position: absolute;
    left: 100px;
    bottom: 2px;
}

.qq-upload-success .qq-upload-failed-text {display:none;}
.qq-upload-success {margin-top:10px;}
.qq-upload-file {float:left;margin-right:5px;color:silver;text-transform:none;font-size:12px;}
.qq-upload-size {color:silver;text-transform:none;font-size:12px;}

.panel-body textarea {
	z-index: 10;
	max-width: 100%;
}
#new-changes-collapse textarea {
	max-width: 100%;
}

/** Adaptive **/

.logo, .login, .header-contacts, .header-adress {width:50%;font-size: 11px;}


 
@media (min-width: 590px) {
.logo, .login, .header-contacts, .header-adress { font-size: 12px; }
}

@media (min-width: 655px) {
.logo, .login, .header-contacts, .header-adress { font-size: 13px; }

}

@media (min-width: 769px) {
header .row {/*margin-bottom: 20px;*/}
.logo {/*margin-bottom: 20px; width:100%;*/}
.logo a {width: 275px; margin:0 auto; display:block;}
/*.login {clear:both;}
.login, .header-contacts, .header-adress {width: 33%; float: left; font-size: 14px;}*/
}

@media (max-width: 835px) {
.nav-tabs > li {width: auto;}
.table th, .table tr{font-size: 13px;}
}
@media (max-width: 600px) {
.nav-tabs > li {width:100%;}
}

@media (min-width: 992px) {
.col-md-3 { width: 25%; }
.login {clear:none;}
}

@media (min-width: 1305px) {
   
}

/** /Adaptive **/


/* chat */

@font-face{
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf");
	font-weight: normal;
}

@font-face{
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.ttf");
	font-weight: bold;
}

p {font-size: 13px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

.chtpl0-chatblock{
	width: 822px;
	height: 330px;
}
.chtpl0-chatblock button{
display: block;
/*float: left;*/
}

.chtpl0-chatblock button.usual-cursor{
cursor: default;
}

.chtpl0-chatblock button.executor-set{
	background-image: url(../images/icon1.png);
}
.chtpl0-chatblock button.executor-unset{
	background-image: url(../images/icon2_1.png);
}
.chtpl0-chatblock button.chtpl0-user-icon-3{
	background-image: url(../images/icon3_1.png);
}
.chtpl0-chatblock button.chtpl0-user-icon-4{
	background-image: url(../images/icon4.png);
}
.chtpl0-panel{
	height: 37px;
	width: 100%;
	background-repeat: repeat-x;
	margin-bottom: 3px;
}

.chtpl0-chat{
	width: -webkit-calc(100% - 6px);
	width: calc(100% - 6px);
	background-color: white;
	height: 240px;
	border-radius: 4px;
	margin-left: 3px;
	border: 3px solid #eaeaea;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.chtpl0-msg{
	padding: 6px 0px 12px 42px;
	font-size: 12px;
	height: 40px;
}

.chtpl0-msg:nth-child(odd) {
	background-color: white;
}

.chtpl0-msg:nth-child(even) {
	background-color: #f7f7f7;
}

.chtpl0-msg:nth-child(1) .chtpl0-nickname,
.chtpl0-msg:nth-child(4) .chtpl0-nickname{
	color: #7face5;
}

.chtpl0-msg:nth-child(2) .chtpl0-nickname,
.chtpl0-msg:nth-child(3) .chtpl0-nickname{
	color: #ba5e5e;
}

.chtpl0-content{
/*display: inline-block;
position: relative;
left: 10px;
width: 50%;*/
}

.chtpl0-nickname, .chtpl0-date, .chtpl0-time{
	display: inline-block;
	margin-right: 2px;
    color: #00796b !important;
    font-size: 12.5px;
}

.chtpl0-time{
	font-weight: bold;
}

.chtpl0-text{
	margin-top: 11px;
}

.chtpl0-msg button{
	width: 40px;
	height: 40px;
	border: none;
	padding: 0px;
	background-position: 0 0px;
	background-color: transparent;
	cursor: default;
    background-size: cover;
}

.chtpl0-msg .chtpl0-buttons{
	position: relative;
	left: 280px;
	top: -42px;
	width: -webkit-calc(100% - 370px);
	width: calc(100% - 370px);
}

.chtpl0-msg .chtpl0-buttons button{
	width: 79px;
	height: 15px;
	font-size: 10px;
	border: none;
	color: white;
	padding-bottom: 3px;
	opacity: 0.8;
}

.chtpl0-msg .chtpl0-buttons button:hover{
	opacity: 1;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	cursor: pointer;
}

.chtpl0-chatblock button:active,
.chtpl0-chatblock button:visited,
.chtpl0-chatblock button:focus{
	outline: none;
}



.chtpl0-down{
	font-size: 13px;
	padding: 10px 10px 10px 18px;
	width: -webkit-calc(100% - 28px);
	width: calc(100% - 28px);
	height: 22px;
}

.chtpl0-down p{
	display: inline;
	position: relative;
	top: -2px;
	margin-right: 5px;
 margin-left: 5px;
}

.chtpl0-template{
	background-image: url(./image/tmpl.png);
	border: none;
	width: 19px;
	height: 19px;
	margin-right: 5px;
}

.chtpl0-form textarea{
	width: 564px;
	border: 1px solid #cac7c7;
	position: relative;
	resize: none;
	height: 100px;
	border-radius: 5px;
	margin-left: 20px;
	margin-top: 5px;
}

.chtpl0-form button{
	border: none;
	width: 97px;
	height: 23px;
	font-weight: normal;
	display: inline-block;
	position: relative;
	margin-right: 5px;
}

.chtpl0-form button:hover{
	cursor: pointer;
}

.chtpl0-form .chtpl0-submit1{
	background-image: url(./image/button-2.png);
	color: white;
}

.chtpl0-form .chtpl0-submit2{
background-image: url(./image/button-3.png);
color: #FFFFFF;
}

.chtpl0-form  h5{
	font-weight: normal;
	display: inline-block;
}

.chtpl0-subm{
	display: inline-block;
	position: relative;
	top: -7px;
	left: 5px
}

.chtpl0-admin{
	padding-top: 5px;
}
.chtpl0-admin .chtpl0-up{
	display: none;
}



.chtpl0-user .chtpl0-accept,
.chtpl0-user .chtpl0-share,
.chtpl0-user .chtpl0-delete{
	display: none;
}
.chtpl0-user .chtpl0-answer{
 	top: 0px;
}
.chtpl0-user .chtpl0-down{
	height: 32px;
  	padding-top: 3px;
}
.chtpl0-user .chtpl0-down input,
.chtpl0-user .chtpl0-down button,
.chtpl0-user .chtpl0-down p{
	display: none;
}




.chtpl0-author .chtpl0-accept,
.chtpl0-author .chtpl0-share,
.chtpl0-author .chtpl0-delete{
	display: none;
}
.chtpl0-author .chtpl0-answer{
 	top: 0px;
}
.chtpl0-author .chtpl0-down{
	height: 32px;
  	padding-top: 3px;
}
.chtpl0-author .chtpl0-down input,
.chtpl0-author .chtpl0-down button,
.chtpl0-author .chtpl0-down p{
	display: none;
}


#chatWindow {
    overflow: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 0;
    min-height: 300px;
    background-color: #fff;
}


#chatWindow .post {
min-height: 80px;
height: auto;
padding: 10px;
    border-bottom: 1px solid #eee !important;
}

.chtpl0-avatar {
    float: left;
    padding-right: 10px;
    text-align: center;
    margin-top: 2px;
}
.chtpl0-msg .chtpl0-buttons {
float: right;
left: 0;
top: 0;
width: auto;
height: auto;
}

.chtpl0-msg .chtpl0-buttons button{
left:0;
top:0;
margin: 0;
display: block;
/* margin-bottom: 10px; */
padding: 5px 15px;
width: 95px;
height: auto;
font-size: 13px;
}

.chtpl0-msg .chtpl0-buttons button.chtpl0-answer {background: #337AB7;float: left;}
.chtpl0-msg .chtpl0-buttons button.chtpl0-share {background: #BABABA;float: left;}
.chtpl0-msg .chtpl0-buttons button.chtpl0-delete {background: #D36666;float: left;}
.chtpl0-msg .chtpl0-buttons button.chtpl0-accept{background: #75B865;clear:both;margin-top: 5px;float: right;}




.chtpl0-form textarea {
width: 70%;
margin:0;
}

.chtpl0-form button {
width: 195px;
height: auto;
margin-left:0;
margin-bottom:10px;
background-image: none;
opacity:0.8;
border-radius: 0;
}

.chtpl0-form button:hover {
opacity:1;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.chtpl0-form .chtpl0-submit1 {background: #5A93C4;}
.chtpl0-form .chtpl0-submit2 {background: silver;}

.chtpl0-form h5 {
text-transform: uppercase;
font-size: 13px;
}

.chtpl0-down {
margin:0;
padding:0;
margin-left:15px;
background-image:none;
}

.chtpl0-chatblock button.chtpl0-template {
float:none;
display: inline;
}

.notes {
margin-top:15px;
}

.label {
margin:0;
}

#new-changes-link a {
padding: 10px;
}

#new-changes-collapse {
border: 1px solid #ddd;
padding: 15px;
overflow: hidden;
margin: 15px;
}

label {
display: inline-block;
text-transform: uppercase;
font-size: 12px;
color: #727272;
}

#up_file label {
margin: 0;
margin-top: 10px;
margin-bottom: 5px;
padding: 0;
}

#ProjectChanges_fileupload {
border-radius: 0;
border: none;
}

#up_file input {
color: gray;
font-size: 13px;
padding: 5px 0 0 0;
background: none;
height: 35px;
margin: 0;
}

#new-changes-block {
padding-bottom: 10px;
}

#up_file .col-xs-12 {margin:0;padding: 0;}

.addPart {
	padding: 11px !important;
	margin-top: 20px !important;
}

.aboutZakaz {padding: 0;}

.msg_answer {margin-bottom: 5px;}

#project_payments {padding:0;}

.terms-columns {margin-top: 10px;}
.terms-column-1 {width: 25%;	float: left;	clear: both;}
.terms-column-2 {	width: 50%; float: left;}
.terms-column-3 {	width: 25%; float: left;}
.terms-save-btn {padding: 3px 15px;}

.deletePart {background: #D36666; border:none;}
.deletePart:hover {background: #D36666; border:none;}

.qq-upload-list li span{
margin: 0;
padding: 0;
line-height: 15px;
font-size: 12px;
}

.qq-upload-list li a#parts_file {
display: block;
float: left;
margin: 10px 0;
max-width: 65%;
height: auto;
overflow: hidden;
word-wrap: break-word;
}

.qq-upload-list li button#approve_file {
float: right;
padding: 2px 10px 3px;
margin: 5px 0 5px;
font-size: 13px;
}

#accordion .panel-default {margin-bottom: 0;}

ul.qq-upload-list li.qq-upload-success {margin-top:10px;}
ul.qq-upload-list li.qq-upload-success span.qq-upload-file {
margin-right: 10px;
color: silver;
text-transform: none;
display: inline;
width: auto;
}
ul.qq-upload-list li.qq-upload-success span.qq-upload-size {
color:silver;
text-transform:none;
display: inline;
width: auto;
}


.rating {
    display: inline;
}

/* chat */

textarea#Moderation_add_demands, textarea#Moderation_text, textarea#Profile_additional {
    min-width: 100%;
    max-width: 100%;
}

#option:select {
    color: #000!important;
}

select {
    color: #000!important;
}

div.chtpl0-form {
    margin-top: 25px;
}

div.chtpl0-form > h5 {
    display: none;
}

.thanks-for-order-message {
	border-style: solid;
	border-width: 1px;
    border-radius: 15px;
	margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

div#chat div.text {
    margin: 10px;
    font-size: 12.5px;
}

div.chtpl0-avatar > div {
    font-weight: bold;
    margin-top: 2px;
}

div#zakaz-grid-current {
    /*background-color: #fff;*/
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 0px !important;
}

div.summary {
    text-align: right;
    font-weight: bold;
    /*padding: 10px 15px 0px 0px;*/
}
.twin-tab div.summary {
	position: relative;
	top: -33px;
	width: auto;
	float: right;
	margin-bottom: -20px;
}
.twin-tab .grid-view div.summary {
	top: -23px;
}
.twin-tab .grid-view {
	padding: 0;
}
table, th, td {
  border: none; }

table {
  width: 100%;
  display: table; }
  table.bordered > thead > tr, table.bordered > tbody > tr {
    border-bottom: 1px solid #d0d0d0; }
  table.striped > tbody > tr:nth-child(odd) {
    background-color: #f2f2f2; }
  table.striped > tbody > tr > td {
    border-radius: 0px; }
  table.hoverable > tbody > tr {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease; }
    table.hoverable > tbody > tr:hover {
      background-color: #f2f2f2; }
  table.centered thead tr th, table.centered tbody tr td {
    text-align: center; }

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px; }

/*.grid-view table.items td {
    padding: 0.5em !important;
}*/

header div#control-menu li a:active, header div#control-menu li a:focus {
    outline: none;
}

header div#control-menu li {
	height: auto;
    margin-bottom: 0px;
}

header div#control-menu li a {
	border-width: 1px;
	border-style: solid;
	border-bottom: 0;
	border-radius: 15px 0px 0px 0px;
    color: #2e3938;
	font-weight: bold;
    -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

/*header div#control-menu li a:hover {
    background-color: #6a7488;
}*/

header div#control-menu li:nth-last-child(2){
    float: right;
    width: 100px;
}

header div#control-menu li:last-child {
    float: right;
}

header div#control-menu li:last-child a, header div#control-menu li:nth-last-child(2) a  {
	border-radius: 0px 15px 0px 0px;
}
/*
header div#control-menu li:last-child a:hover {
    background-color: #D43F3A;
}*/
section li a {
    border-bottom: 0px !important;
}

div.list-changes-filename > a {
    display: block;
    overflow: hidden;
}

/*li#first-tab-li a {
    border-radius: 15px 0px 0px 0px;
}*/

li#first-tab-li a:focus, li#first-tab-li a:active, li#second-tab-li a:focus, li#second-tab-li a:active {
    outline: none;
}

div.first-tab, div.second-tab {
    margin-left: 25px;
    margin-right: 21px;
	border-width: 1px;
	border-style: solid;
}

#zakaz-form .form-items #justFileUpload {
	height: 197px;
}
div.advice {
	background-color: white;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
}
div.chat-buttons input {
	/*width: 30%;*/
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
.container-chat {
	padding-bottom: 17px;
	border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.content-clearfix .nav-tabs {
	margin-top: 15px;
}
.content-clearfix .panel-heading {
    padding: 4px 7px;
}
.panel-group .panel {
    border-radius: 15px 15px 0 0;
}
.panel-group .panel-heading {
    border-radius: 15px 15px 0 0;
}

.content-clearfix table.detail-view tr.odd, .content-clearfix table.detail-view tr.even {
	background: transparent;
}
.content-clearfix table.detail-view {
    background: transparent;
}
.text4customerts {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 30px;
	padding-bottom: 10px;
}
.guest-links {
	padding: 10px;
	font-size: 18px;
	min-height: 45px;
}
#partner-stats-grid select {
	position: relative;
	top: 20px;
}
#partner-stats-grid .items {
	float: none;
}
#partner-stats-grid #yw0_c0 {
	width: 100px;
}
#partner-stats-grid td, #partner-stats-grid th {
	text-align: center;
	border-right: 1px dotted gray;
}
.content-clearfix .grid-view table.items th {
	font-weight: normal;
}
.gray {
	color: #bbb;
}
.center {
	text-align: center;
}
h7.center {
	width: 100%;
	display: block;
}
.btn {
	font-size: 15px;
}
.clear {
	clear: both;
}
ul.files-list {
	list-style: none;
	padding-left: 0px;
	overflow: hidden;
	margin-bottom: 0px;
}
.chat-buttons h4{
  font-size: 14px;
  font-weight: normal;
}
.btn-link {
	color: white;
}
.btn-link:active, .btn-link:hover, .btn-link:focus, .btn-link:active {
	text-decoration: none;
	color: white;
}

.parentBlock select {
	width: 100%;
}