.login-form-bg {
    background: #f7f7f7;
    border-radius: 10px;
    padding-bottom: 10px;
    font-weight: 300;
}
.user_submit {
	display: table-cell;
	width: 149px;
}
.user_submit input {
	height: 33px;
	position: relative;
	width: 100%;
    background-color: #5C95C5;
    border: 0px none;
    font-weight: bold;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    font-size: 13px;
}
.user_submit input:hover {
    background-color: #5688b2;
}
.rememberMe input{
	width: 50%;
	line-height: 33px;
	background-color: #fefef0;
	cursor: pointer;
	z-index: 10;
	opacity: 0;
}
.rememberMe label{
	text-align: center;
	position: absolute;
	width: 50%;
	line-height: 33px;
	margin: auto;
	background-color: #d4e157;/*#e6e461;*/
	color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 13px;
        
}
.rememberMe {
	display: table-cell;
	/*text-align: center;*/
	width: 50%;
	margin-left: -4px;
	max-height: 33px;
	overflow: hidden;
	border-top: 1px solid #ddd;
}
.rememberMe:hover {
	background-color: #fefef0;
}
#UserLogin_rememberMe {
	position: static !important;
    margin-left: 65px !important;
}
label[for="UserLogin_rememberMe"] {
    text-transform: none !important;
    margin-bottom: 0px !important;
}

.login-form-bg {
	width: 300px;
	background: inherit;
	border-left: 1px dotted #ddd;
	border-top: 1px dotted #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 0 0 0 10px;
	padding-right: 0px;
    padding-left: 0px;
	padding: 0;
}
.login-form-bg h1 {
	padding: 7px 0 7px 0;
	line-height: 18px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #ddd;
}
.login-form-bg .form-group input {
	/*padding: 7px 0 7px 0;*/
	line-height: 33px;
	margin: 0;
	border-left: 0px dotted #ddd;
	border-top: 1px solid #ddd;
	border-right: 0px solid #ddd;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	background: inherit;
	background-color: inherit;
	width: 100%;
	height: 35px;
	text-align: center;
}
.login-form-bg .hint, .login-form-bg a {
	text-align: center;
	font-size: 13px;
	color: gray;
}


.hint a[href="/user/recovery/recovery"] {
    text-decoration: none;
	margin-left: 7px;
}


        /* ========== */
/* ===== Alex's styles ===== */
        /* ========== */

body {
    background-image: url('../images/autorisation-background.jpg');
	height: 100vh;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position: center;

}

.login-form-bg {
    background-color: #fff;
    border-radius: 6px;
    margin: 10px auto;
    padding: 25px 15px !important;
    border: none !important;
    float: none !important;
}

.form-group input {
    border: 0px!important;
    border-radius: 2px;
    background-color: rgba(216, 221, 227, 0.28) !important;
}

.form-group input:focus {
    background-color: rgba(216, 221, 227, 0.38) !important;
}

div.rememberMe {
    position: relative;
    display: none;/* !! */
}

.rememberMe label {
    top: 0px;
    width: 100%;
    border-radius: 0px;
}

/* !!! */

.user_submit {
    margin-top: 5px;
    display: block;
    width: 270px;
}

.user_submit input {
    border-radius: 2px;
    height: 38px;
    font-size: 15px;
}

div#uLogin > div:first-child {
    left: 10px!important;
}

div.content-clearfix {
    margin-bottom: 64px !important;
	min-height: 0px !important;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 15px;
	padding-bottom: 15px;
}

div#uLogin > img[src="https://ulogin.ru/img/blank.gif"]{
    margin-left: 10px!important;
}

div.container {
	width: 100% !important;
}

