/* Skin "adaptive_dipstart" by Artem */
body {
  font-family:arial, sans-serif;
  color:#333;
}
/*
a { color:#004dd9; }
a:hover { color:#ea0000; }
a:visited { color:#551a8b; }

ul li, ol li {
  padding:0 0 0.4em 0;
}*/


/*
.logo {
  float:left;
  display:inline-block;
  padding:0 0 1em;
  border-bottom:1px solid #000;
  font-size:18px;
  color:#ea0000;
}
*/
.menu_main {
  width:50%;
  float:right;
  text-align:right;
  margin:0.3em 0 0 0;
}
.menu_main a,
.menu_main a:visited {
}
.menu_main a:hover,
.menu_main a:hover:visited {
}
.menu_main li {
  display:inline-block;
  margin:0 0 0 7px;
}
.menu_main li.active,
.menu_main li.active a {
  color:#000;
  text-decoration:none;
  cursor:default;
}

.qq-upload-fail .qq-upload-failed-text {display:inline;}

.info {
  padding:0 0 1em 2%;
}

.hero {}
.hero h1 {
  font-size:26px;
  font-family:georgia, serif;
  font-style:italic;
  color:#EA0000;
}

.article {}

.copyright {
  float:left;
  font-family:georgia, serif;
  font-style:italic;
}

.menu_bottom {
  width:50%;
  float:right;
  text-align:right;
  margin:0;
  padding:0;
}
.menu_bottom a,
.menu_bottom a:visited {
}
.menu_bottom a:hover,
.menu_bottom a:hover:visited {
}
.menu_bottom li {
  display:inline-block;
  margin:0 0 0 7px;
}
.menu_bottom li.active,
.menu_bottom li.active a {
  color:#666;
  text-decoration:none;
  cursor:default;
}

h1, h2 {
  font-weight:normal;
  color:#000;
}
h1 {
  font-size:22px;
}

h5, .h5 {
 font-size: 13px;
}

h3, h4, h5, h6 {
  font-weight:bold;
  color:#000;
  text-transform: uppercase;
}

.form label {
  display:inline-block;
  padding:0 0 4px 0;
  text-transform: uppercase;
  font-size: 12px;
  color: #727272; 
}

a.button,
.button {
  border:1px solid #d00303;
  text-align:center; 
  text-decoration:none;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:#000 0px 0px 1px;
  -moz-box-shadow:#000 0px 0px 1px;
  box-shadow:#000 0px 0px 1px;
  background:#ea0000;
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ea0000), to(#d00303));
  background:-webkit-linear-gradient(#ea0000, #d00303);
  background:-moz-linear-gradient(#ea0000, #d00303);
  background:-ms-linear-gradient(#ea0000, #d00303);
  background:-o-linear-gradient(#ea0000, #d00303);
  background:linear-gradient(#ea0000, #d00303);
  color:#fff;
  padding:12px 20px;
  font-family:verdana, sans-serif;
  text-shadow:1px 1px 1px #d03302;
  display:inline-block;
}
a.button:hover,
.button:hover {
  color:#fff;  
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#d00303), to(#ea0000));
  background:-webkit-linear-gradient(#d00303, #ea0000);
  background:-moz-linear-gradient(#d00303, #ea0000);
  background:-ms-linear-gradient(#d00303, #ea0000);
  background:-o-linear-gradient(#d00303, #ea0000);
  background:linear-gradient(#d00303, #ea0000);
}
a.button:active,
.button:active {
  color:#8c1515;
  text-shadow:1px 1px 1px #ffaeae;
  -webkit-box-shadow:#a10000 0px -3px 3px inset;
  -moz-box-shadow:#a10000 0px -3px 3px inset;
  box-shadow:#a10000 0px -3px 3px inset;
}

.table {
  width:100%;
}
.table th {
  padding:5px 7px;
  font-weight:normal;
  text-align:left;
  font-size:1.2em;
  background:#ffffff;
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#F7F7F7));
  background:-webkit-linear-gradient(#ffffff, #F7F7F7);
  background:-moz-linear-gradient(#ffffff, #F7F7F7);
  background:-ms-linear-gradient(#ffffff, #F7F7F7);
  background:-o-linear-gradient(#ffffff, #F7F7F7);
  background:linear-gradient(#ffffff, #F7F7F7);
}
.table td {
  padding: 15px 10px;
}
.table tr {
  border-bottom:1px solid #ddd;
}
.table tr:last-child {
  border:0;
}

.warning {
  border:1px solid #ec252e;
  color:#fff;
  padding:8px 14px;
  background:#EA0000;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}
.success {
  border:1px solid #399f16;
  color:#fff;
  background:#399f16;
  padding:8px 14px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}
.success input {
  color: #333;
}
.message {
  border:1px solid #f1edcf;
  color:#000;
  background:#fbf8e3;
  padding:8px 14px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}


@media only screen and (max-width:480px) { /* Smartphone custom styles */
}

@media only screen and (max-width:768px) { /* Tablet custom styles */
}


.form-control {
border-radius:0;
min-height: 40px;
}

.errorMessage {
color: red;
font-size: 12px;
}

.errorSummary {
font-size: 12px;
color: green;
}

.note {
font-style: italic;
color: #A7A7A7;
font-size: 13px;
}

.form-group {
margin: 25px 0;
}

h1, h2, h3, h4 {
text-transform: uppercase;
}

h3, .h3 {
    font-size: 23px;
}

.nav-tabs > li > a {
margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid rgb(198, 217, 241);
    border-radius: 2px 2px 0 0;
    background-color: #DDEAFA;
    color: #4A75AC;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-tabs {
    border-bottom: 1px solid #C6D9F1;
}

.nav:last-child {
    padding-bottom: 0px;
}

.nav > li > a:hover, .nav > li > a:focus {
    border-color: #C6D9F1;
    border-bottom-color: #DDEAFA;
    background-color: #EBF4FF;
    color: #628DBE; 
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
border: 1px solid #C6D9F1;
border-bottom:1px solid #fff;
color: #6797CC;
padding: 10px 25px;
}

label {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    color: #727272;
}

.user-chat-block {
padding:0;
border:none;
}

textarea {
    border: 1px solid #DDDDDD;
    margin-bottom: 20px;
}

.row {
margin:0;
}

.qq-upload-button {
margin: 20px;
}

.comment, .add-comment {
    border: none;
    margin-bottom: 25px;
    background: none;
    border-radius: 0;
    font-style: italic;
    font-size: 13px;
    margin-top: 0;
    padding-left: 5px;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.footer {
margin-top: 50px;
}

.col-md-offset-2 {
margin-left:0;
}

.content-clearfix {
    min-height: 550px;
    margin-bottom: 50px;
}

.table th {
    padding: 15px 10px;
}

.items {
margin-top: 15px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
padding: 15px 10px;
}

.col-xs-12 h1, .col-md-4 h3, .col-md-12 h3, .content-clearfix h1, #zakaz-grid .summary {display:none;} 

#zakaz-grid {padding:0;}

.text-to-pay {  
    font-size: 20px;
    text-transform: uppercase;
    color: green;
}

.footer a {margin-right: 0;}

a, a:hover, a:focus, a:active, a:visited {text-decoration: none;}

.aboutZakaz textarea {
padding: 5px 10px;
}

.nav-tabs > li {
    width: 160px; 
    text-align: center;
}

#touch-menu {display:none;}

#Zakaz_pages {margin: 25px 10px 0 10px;}

.aboutZakaz .row {margin-bottom: 20px;}

#up_file label {
margin: 0;
margin-top: 25px;
padding: 0;
}

#up_file input {
color: gray;
font-size: 13px;
padding: 5px 0 0 0;
background: none;
height: 35px;
margin: 0;
}

#new-changes-collapse {
border: 1px solid #ddd;
padding: 15px;
margin-top: 15px;
background-color: #F8F8F8;
}

#justFileUpload {padding: 15px;}
.qq-upload-drop-area {
display: block!important;
position: relative;
background-color: #fff;
border: 1px solid #DDDDDD;
margin-left: 0;
width: 100%;
height: auto;
min-height: 100px;
margin-top: 20px;
overflow: hidden;
}
.qq-upload-drop-area span {
margin-top: 15px;
margin-left: 0;
font-size: 2.1rem;
font-weight: bold;
text-transform: uppercase;
color: #EDEDED;
position: relative;
}
.qq-upload-button {width: 90%; background-color: green;margin: 15px auto;}
.qq-upload-list {margin:0;}
.info-block {margin-top: 30px;} 
.panel-title a{
	color: #337AB7;
	width: 100%;
	display: block;
	text-align: center;
} 

#ProjectChanges_fileupload{
background: green;
border-radius: 0;
border: none;
}

#new-changes-link {
	text-align: center;
}
#new-changes-link a {
border: 1px solid #DDDDDD;
color: #337AB7;
padding: 10px;
display: inline-block;
text-align: center;
background-color: #337AB7;
color: white;
}

.qq-upload-list li {
text-align: left;
padding-left: 20px;
list-style-type: none;
}
a.file {color:green;font-weight: bold;}
li.gray-file a.file {color:silver;font-weight: normal;}

.list-changes-block {
border: 1px solid #DDDDDD;
padding: 10px;
margin-bottom: 15px;
background-color: #F8F8F8;
}

.btn {border-radius:0;}

#UploadPaymentImage_file {
padding: 15px 0px;
font-size: 13px;
width: 100%;
cursor: pointer;
}

.check-button-upload input{
background-color: green;
color: #fff;
border: none;
padding: 5px 20px;
width: 100%;
}

.chek-image-link a img{
margin-top:20px;
}

.text_scan {
width: 100%;
text-align: center;
display: block;
text-transform: uppercase;
margin-top: 20px;
}

.price-for-work-avtor + #msgLabel {margin-top: 15px;}

.materials {
border: 1px solid #ddd;
margin: 15px;
}

.materials h5 {
margin: 15px;
}

.materials-files {
list-style-type: none;
padding-left: 15px;
}

.btn, input[type="submit"], input[type="file"] {opacity:0.8;border-radius:0;}
.btn:hover, input[type="submit"]:hover, input[type="file"]:hover {opacity:1; transition: all 0.2s ease;	cursor: pointer;}

.chek-image-link {margin-top: 10px;}

.chek-is-approving + .chek-image-link {float: right;}

.chek-is-approving {
margin-top: 10px;
font-size: 13px;
float: left;
}

.qq-upload-success .qq-upload-failed-text {display:none;}
.qq-upload-success {margin-top:10px;}
.qq-upload-file {float:left;margin-right:5px;color:silver;text-transform:none;font-size:12px;}
.qq-upload-size {color:silver;text-transform:none;font-size:12px;}

.panel-body textarea {
	z-index: 10;
	max-width: 100%;
}
#new-changes-collapse textarea {
	max-width: 100%;
}

/** Adaptive **/

.logo, .login, .header-contacts, .header-adress {width:50%;font-size: 11px;}


 
@media (min-width: 590px) {
.logo, .login, .header-contacts, .header-adress { font-size: 12px; }
}

@media (min-width: 655px) {
.logo, .login, .header-contacts, .header-adress { font-size: 13px; }

}

@media (min-width: 769px) {
header .row {margin-bottom: 20px;}
.logo {margin-bottom: 20px; width:100%;}
.logo a {width: 275px; margin:0 auto; display:block;}
.login {clear:both;}
.login, .header-contacts, .header-adress {width: 33%; float: left; font-size: 14px;}
}

@media (max-width: 835px) {
.nav-tabs > li {width: auto;}
.table th, .table tr{font-size: 13px;}
}
@media (max-width: 600px) {
.nav-tabs > li {width:100%;}
}

@media (min-width: 992px) {
.col-md-3 { width: 25%; }
.login {clear:none;}
}

@media (min-width: 1305px) {
   
}

/** /Adaptive **/