.panel-heading .hasDatepicker /* Vladimir */
{
    position: relative;
    /*z-index: 2000;*/
}

/* Akoch-ov */
#user-form {
	text-align: center;
}
#user-form label {
	margin: 0;
}
.portlet-decoration {
	display: none;
}
.btn-spam {
	float: right;
	margin-top: -2px;
}
.btn-change-status {
	background: #81B2DC;
	margin-top: -4px;
	margin-left: 10px;
	color: white;
}
/*.aboutZakaz #justFileUpload {
	height: 100px;
}*/