.panel-heading .hasDatepicker /* Vladimir */
{
    position: relative;
    /*z-index: 2000;*/
}

/* Akoch-ov */
.bg-green {
	background-color: #a0e486;
}
.bg-red {
	background-color: #da8383;
}
.bg-blue, .chtpl0-msg .chtpl0-buttons button.chtpl0-answer, .btn-primary, #new-changes-link a {
	background-color: #85b3da;
}
.btn-primary {
	border: 0;
}
#user-form {
	text-align: center;
}
#user-form label {
	margin: 0;
}
.portlet-decoration {
	display: none;
}
.btn-spam {
	/*float: right;
	margin-top: -2px;*/
	margin-left: 5px;
	height: 40px;
	padding: 0;
	color: white;
	border: 0;
}
.before-panel-group+.left {
	text-align: left;
}
.before-panel-group+.right {
	text-align: right;
}
.before-panel-group {
	position: relative;
	margin-top: 10px;
	margin-bottom: -50px;
}
.before-panel-group button {
	position: relative;
	z-index: 1;
}
.before-panel-group button.z-index-2 {
	z-index: 2;
}
.btn-change-status {
	/*background: #81B2DC;*/
	margin-right: 10px;
	height: 40px;
	padding: 0;
	color: white;
	border: 0;
}
.btn-icon-40 img{
	height: 40px;
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}
/*#refound_order {
	background: #DCB281;
}*/
/*.aboutZakaz #justFileUpload {
	height: 100px;
}*/


div.terms-column-1 {
    width: 34%;
}

div.terms-column-2 {
    width: 36%;
}

div.terms-column-1, div.terms-column-2, div.terms-column-3 {
    margin-top: 5px;
} 

.chtpl0-msg .chtpl0-buttons button {
    padding: 4px 2px;
    width: 77px;
}

.chtpl0-chat {
	height: 300px;
}

.chtpl0-chatblock {
	height: 350px;
}
.chat-functions select {
	position: relative;
	top: -3px;
	margin-right: 15px;
}

div.info-block {
    padding-left: 0px;
    padding-right: 0px;
}

div.events input[type="button"], div.events input[type="button"] + a {
    border: none;
    color: #fff;
    height: 30px !important;
    border-radius: 2px;
    font-size: 13.5px;
    margin-right: 10px;
    -webkit-transition: all 0.2s ease-out 0s;
            transition: all 0.2s ease-out 0s;
}

div.events input[type="button"] {
    padding: 5px 10px;
    background-color: #EB7077;
}

div.events input[type="button"] + a {
    padding: 7px 10px;
    background-color: #B6BECE;
}

div.events input[type="button"]:hover {
    background-color: #ef8e9b;
}

div.events input[type="button"] + a:hover {
    background-color: #C5CCD8;
}