/* Skin "adaptive_admin" by Artem */

a, a:hover, a:focus, a:active, a:visited {text-decoration: none;}

h3, .h3 {
	font-size: 15px;
	text-transform: uppercase;
}
h2, .h2 {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}
h1, .h1 {
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}

.btn {opacity:0.8;-webkit-border-radius:0;border-radius:0;}
.btn:hover {opacity:1; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;	cursor: pointer;}

.container {margin-top: 40px;}

.chatBlock {
	border: none;
	margin: 15px 0 0 0;
	width: 100%;
	padding: 0;
}

.you textarea {
width: 80%;
margin: 0;
margin-right: 20px;
border: 1px solid #ddd;
}

.yiichat .posts {
border: 1px solid #ddd;
padding: 10px;
}

.notesBlockTextarea {border: 1px solid #ddd;}

.hasDatepicker {
border: 1px solid #ccc;
padding-left: 5px;
width: 120px;
}

.label-warning {
background-color: #2BBA2B;
padding: 8px 15px;
margin-right: 10px;
float: left;
-webkit-border-radius: 5px;
        border-radius: 5px;
}

textarea.col-xs-12 {
border: 1px solid #ddd;
margin: 15px 0;
}

.panel-body input {border: 1px solid #ddd;padding-left: 10px;}

a.parts_file {
display: block;
margin: 10px;
}

.list-changes-comment {
	font-style: italic;
	font-size: 12px;
}

.terms-columns input {
width: 120px;
}

.list-changes-block {
	border: 1px solid #eee;
	margin-bottom: 5px;
	padding: 5px;
	overflow: hidden;
}

.panel-title a {
color: #337AB7;
font-weight: bold;
text-transform: uppercase;
padding-top: 5px;
}
.panel-title a[href="#infoZakaz"] {
padding-left:150px;
padding-right:150px;
}
#str {
width:10%;
height:10%;
margin-top:5px;
}

.form label {
display: inline-block;
text-transform: uppercase;
font-size: 12px;
color: #727272;
font-weight: normal;
margin-top: 15px;
}

textarea, select {border: 1px solid #ddd;}

.chtpl0-panel {
	height: 50px;
	width: 100%;
	position:relative;
	bottom:15px;
}

.chtpl0-form {
	margin-top: -15px;
}
.chtpl0-form p {
position:relative;
bottom:20px!important;
}
.confirm-the-payment {
	float:left;
	margin-top: 10px;
}

.confirm-the-payment span {
/* float: left; */
margin-top: 20px;
}

.btn-group-xs {
margin-top: 5px;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 5px 15px;
    margin-right: 5px;
    font-size: 14px;
    line-height: 1.5;
    -webkit-border-radius: 0;
            border-radius: 0;
}

.btn-group-xs a{
border: 1px solid #CCC;
padding: 7px 25px 9px 20px;
}

#project_payments h4 {
text-transform: uppercase;
font-size: 16px;
margin-top: 15px;
}

#approveFile_file {
	-webkit-border-radius: 0;
	        border-radius: 0;
	margin: 5px 0;
	float: right;
	padding: 1px 10px;
	font-size: 13px;
}

#approveFile_file + br {clear:both;}

a.link-to-material {
	margin: 5px 0;
	display: block;
	float: left;
	padding-top: 5px;
	overflow: hidden;
	width: 65%;
	width: calc(100% - 15px);
	word-wrap: break-word;
	border-bottom: 1px dashed #337ab7;
}
.qq-upload-list i {
	margin-top: 8px;
}
.qq-upload-list li a#parts_file, div.list-changes-filename > a, .chtpl0-nickname a, .order-contacts a {
	word-wrap: normal;
	border-bottom: 1px dashed #337ab7;
}

.order-contacts br + div, .order-contacts br + div + div {
	position: relative;
	top: -20px;
	margin-bottom: -20px;
}

.pay-save-btn {-webkit-border-radius:0;border-radius:0;}

.topMenu, .nav-pills {
padding:0;
margin:0;
border-bottom: 2px solid #E3E3E3;
background:#fff;
}

.nav-pills > li > a {
	-webkit-border-radius: 0;
	        border-radius: 0;
	border-right: 1px dotted #ddd;
}

.dropdown-menu > li > a {
	text-transform: uppercase;
	font-size: 11px;
}

.nav-justified > .dropdown .dropdown-menu {
	top: auto;
	left: auto;
	min-width: 217px;
	-webkit-border-radius: 0;
	        border-radius: 0;
	border: none;
}

.nav-justified > li > a {
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	color: #4A4A4A;
}

.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: #eee;
	-webkit-transition-duration: 0.4s;
	   -moz-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}

.main-menu {
position: fixed;
z-index: 1500;
left: 0;
top: 0;
}

.main-menu + h1 {
	margin-top: 50px;
}

.info-block {
	margin-top: 5px;
	margin-bottom: 5px;
}

.table-striped label {margin-top: 0;}

.operations {
	margin-top: 10px;
	display: block;
	list-style-type: none;
	padding: 0;
	border: 1px solid #CEDFED;
}

.operations li {
border-right: 1px dotted #CEDFED;
display: table-cell;
width: 1%;
padding:0;
}

.operations li:hover{
background:#EBF6FF;
-webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
     -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
}

.operations li a{
background:hsla(213, 100%, 87%, 0.16);
display: block;
padding: 5px;
text-align: center;
}

.inside-block {
	padding-top: 35px;
	padding-bottom: 10px;
}

.qq-upload-success {margin-top:10px;}
.qq-upload-file {float:left;margin-right:5px;color:silver;text-transform:none;}
.qq-upload-size {color:silver;text-transform:none;} 

.qq-upload-file {
	display: inline;
	margin-right: 5px;
}

.dropdown-menu > li > a {line-height: 3;}
.topMenu > li {border-top: 1px dotted silver;}

.panel-body textarea {
 z-index: 10;
 max-width: 100%;
}
#new-changes-collapse textarea {
 max-width: 100%;
}

@media (max-width: 930px) {
.nav-justified > li > a {
padding-left: 0;
padding-right: 0; 
}
}

@media (max-width: 770px) { 
.container {
	width: -webkit-calc(100% - 165px);
	width: -moz-calc(100% - 165px);
	width: calc(100% - 165px);
	float: right;
	margin-right: 10px;
}
.nav-justified > li > a {
padding-left: 15px;
padding-right: 15px;
margin: 0;
}
.nav-justified > .dropdown .dropdown-menu {min-width: 160px;}
table > thead > tr > th {font-size:10px;}
table> tbody > tr {font-size:12px;} 
}

@media (max-width: 570px) {
.container {
width:100%;
float:none;
margin:0;
}
.main-menu {	position: static; }
.nav-justified > .dropdown .dropdown-menu {
min-width: 100%;
text-align: center;
}
}

/* By Vladimir */





/* ========== Alex's style(таблица в вкладке "бухгалтерия") ========= */

table.payment-table {
    margin-top: 25px!important;
}

table.payment-table > tbody > tr > td {
    padding: 1px!important;
    text-align: center!important;
}

table.payment-table th, table.payment-table td {
    vertical-align: middle!important;
}

table.payment-table th button {
    display: block!important;
    margin: 0px auto!important;
}

.reject_payment {
    padding: 4px!important;
    margin-right: 0px!important;
    font-size: 10px!important;
	background-color: #ff7777;
	margin-top: 4px!important;
	border-color: #aa4444;
}

table.payment-table td button {
    width: 94%!important;
}

label[for="Templates_name"] {
    width: 200px;
    margin-bottom: 18px;
}

label[for="Templates_title"] {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 20px;
}

label[for="Templates_text"] {
    width: 200px;
    margin-top: 5px;
}

textarea#Templates_text {
    width: 388px;
    border-color: #9D9D9D;
    max-width: 390px;
    min-width: 390px;
}

label[for="Templates_type_id"] {
    width: 204px;
    margin-top: 12px;
}

select#Templates_type_id, input#Templates_name, input#Templates_title {
    border: 1px solid #9D9D9D;
}

form#templates-form input[type="submit"] {
    margin: 30px 203px 50px;
    color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    transition: all 0.15s ease-out;
}

form#templates-form input[type="submit"]:hover {
    background-color: #286090;
    border-color: #204D74;
}

.grid-view table.items th {
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to bottom, #32ADBB 0%, #2372A9 100%) !important;
}
p.error, div.errorSummary, div.errorMessage {
	color: red;
}
p.success {
	color: green;
}
div.link-for-executors {
	width: 100%;
	text-align: center;
}
.instant-send-buttons {
    height: 22px;
	margin: 0;
    padding: 0;
	border: 0;
}
.bg-gray {
	background-color: #ccc;
}
.instant-send-buttons img {
	margin: 0;
	height: 22px;
}
.last-delivery {
	font-size: 8px;
}
.block-title {
	font-size: 13px;
	color: gray;
}
.block-title label {
	text-transform: capitalize;
}
.panel-default {
	margin-top: 10px;
}
.new-revision-button {
	font-size: 30px;
	color: #75B865;
	padding-top: 15px;
}
button.change-approve {
	position: absolute;
	margin-left: -2px;
}
.list-changes-filename {
	display: inline-block;
	margin-left: 30px;
}
.float-right {
	float: right;
}
.stage .title-name input {
	min-width: 100px;
	width: calc(100% - 110px);
}
.grid-view table.items th, .grid-view table.items td, .grid-view table.items {
	border: 0;
}
.table tr, .grid-view table.items td {
	border-bottom: 1px dotted #ccc;
}
.grid-view table.items tr.odd, .grid-view table.items tr.even {
	background: transparent;
}
.hint-block_content td {
	height: auto;
	padding: 5px;
}
.inline-block {
	display: inline-block;
}
.qq-upload-list li a#parts_file {
	width: 84%;
	width: calc(100% - 50px);
	max-width: 90%;
}
#user-grid_c0 {
	width: 55px;
}
textarea#code {
	min-width: 100%;
	min-height: 300px;
}