.panel-heading .hasDatepicker /* Vladimir */
{
    position: relative;
    /*z-index: 2000;*/
}

/* Akoch-ov */
#user-form {
	text-align: center;
}
#user-form label {
	margin: 0;
}
.portlet-decoration {
	display: none;
}
.btn-spam {
	float: right;
	margin-top: -2px;
}
.btn-change-status {
	background: #81B2DC;
	margin-top: -4px;
	margin-left: 10px;
	color: white;
}
/*.aboutZakaz #justFileUpload {
	height: 100px;
}*/


div.terms-column-1 {
    width: 34%;
}

div.terms-column-2 {
    width: 36%;
}

div.terms-column-1, div.terms-column-2, div.terms-column-3 {
    margin-top: 20px;
} 

.chtpl0-msg .chtpl0-buttons button {
    padding: 4px 2px;
    width: 77px;
}

.chtpl0-chat {
    height: 360px;
    min-height: 360px !important;
}

.chtpl0-chatblock {
    height: 412px !important;
}

div.info-block {
    padding-left: 0px;
    padding-right: 0px;
}